
header{
    background-color: rgb(255, 255, 255);    
}

.container{
    max-width: 1200px;
    margin:0 auto;
    padding: 0 15px;

}


.header-top-bar{
    background-color: #3b97d3;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 20px;
}

.logo{
    font-size: 24px;
    font-weight:bold;
    color:white;
}

.main-nav{
    background-color: #ff9a3c;
    padding:0 20px ;

}

.main-nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.main-nav ul li a{
    color:white;
    font-weight: bold;
    padding: 15px 0;
    text-decoration:none;
    display: block;

}

footer{
    background-color: #3b97d3;
    color:white;
    text-align: center;
    padding: 20px 0;
    margin-top:20px;
}

.foresz{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    background-color: #ffffff;

}


.bal_oldal{
    background-color: #f7cac9;
    padding: 40px;
    text-align: justify;

}

.jobb_oldal{
    background-color:#a7edf7;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.welcome{
    display:flex;
    flex-direction: space-between;
    gap:20px;
    background-color: #d3eafc;
    margin-top: 40px;
    
}

.welcome-box .welcome-about{
    background-color: #8cd0fe;
    flex:1;
}

.content-box{
    background-color: #d3eafc;
    padding: 10px;
    flex:1;
    
}

.termekek{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

}


.termek-db{
    border: 1px solid #eee;
    background-color: white;
    padding: 15px;
    text-align: center;


}


.termek-kep-tarto{
    width: 100%;
    margin-bottom: 10p;
    height: 150px;
    background-color: #0e0e0e;

}